@using Microsoft.Extensions.Localization
@inject IStringLocalizer<G201210352.lang> lang

@model IEnumerable<G201210352.Models.BasketItem>

@{ ViewData["Title"] = lang["Baslik"].Value; }

<section class="static about-sec">
    <div class="container">
        <h1>@lang["SepetDetaylari"] </h1>
        <table id="orderDetailTable" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Song.SongName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Song.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Song.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Song.ArtistId)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Song.SongName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.Artist.Name)
                        </td>
                    </tr>
}
            </tbody>
        </table>
    </div>
</section>


